<configuration scan="true">

    <!-- Timestamp dinámico para el archivo de log -->
    <timestamp key="currentTime" datePattern="yyyy-MM-dd-HH-mm-ss"/>

    <!-- Carpeta de logs -->
    <property name="LOG_PATH" value="./Backend/logs"/>

    <!-- Console Appender: muestra logs en la consola -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./Backend/logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger para paquetes específicos -->
    <logger name="com.universidad.compuSearch" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>

    <!-- Nivel global -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

</configuration>